<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <h1 class="titulo-menu">Ctrl+T</h1>
    </ng-template>
    <ng-template pTemplate="end">
        <!--<input type="text" pInputText placeholder="Search">-->
        <label class="avatar-name p-d-inline">Hola {{usuario}}</label>
        <button 
            pButton 
            pRipple 
            type="button" 
            icon="pi pi-angle-down" 
            class="p-button-rounded p-button-info p-button-outlined p-d-inline"
            (click)="menu.toggle($event)"
            ></button>
        <p-menu #menu [popup]="true" [model]="items2"></p-menu>
    </ng-template>
</p-menubar>
