<div class="p-p-6">
    <p-card class="p-m-6 p-pt-4 p-text-center p-shadow-10">
        <ng-template pTemplate="header" class="p-p-6">
            <h1 class='titulo-sesion'>Cambiar Contraseña</h1>
            <form >
                <div class="p-field p-grid">
                    <div class="p-col p-text-right">
                        <label for="email" class="p-col-fixed ">Nueva contraseña</label>
                    </div>
                    <div class="p-col  p-text-left">
                        <p-password id="password" name="password" [(ngModel)]="password" [toggleMask]="true" required></p-password>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <div class="p-col p-text-right">
                        <label for="confirmar" class="p-col-fixed">Confirmar contraseña</label>
                    </div>
                    <div class="p-col p-text-left">
                        <p-password id="confirmar" name="confirmar" [(ngModel)]="confirmar" [toggleMask]="true" (onkeyup)="verificar()" required [feedback]="false"></p-password>
                    </div>
                </div>
                <button pButton (click)="verificar()" label="Actualizar"></button>
            
            </form>
        </ng-template>
    </p-card>
</div>
